<a href="https://colab.research.google.com/github/rodrigoreisbr-tech/data_science/blob/master/ExemploUber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://s3-us-west-2.amazonaws.com/streamlit-demo-data/uber-raw-data-sep14.csv.gz',nrows=1000)

In [4]:
df.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [15]:
lowercase = lambda x: str(x).lower() 
df.rename(lowercase, axis="columns", inplace=True)

In [12]:
df

             date/time      lat      lon    base
0     9/1/2014 0:01:00  40.2201 -74.0021  B02512
1     9/1/2014 0:01:00  40.7500 -74.0027  B02512
2     9/1/2014 0:03:00  40.7559 -73.9864  B02512
3     9/1/2014 0:06:00  40.7450 -73.9889  B02512
4     9/1/2014 0:11:00  40.8145 -73.9444  B02512
..                 ...      ...      ...     ...
995  9/2/2014 11:11:00  40.7381 -73.9878  B02512
996  9/2/2014 11:14:00  40.7848 -73.9560  B02512
997  9/2/2014 11:14:00  40.7848 -73.9560  B02512
998  9/2/2014 11:17:00  40.7741 -73.9608  B02512
999  9/2/2014 11:18:00  40.7410 -73.7579  B02512

[1000 rows x 4 columns]

In [14]:
DATA_COLUMN="data/time"
DATA_URL="https://s3-us-west-2.amazonaws.com/streamlit-demo-data/uber-raw-data-sep14.csv.gz"

In [26]:
df.dtypes

date/time     object
lat          float64
lon          float64
base          object
dtype: object

In [29]:
df["date/time"] =  pd.to_datetime(df["date/time"])

In [28]:
import numpy as np

In [31]:
np.histogram(df["date/time"].dt.hour, bins=24, range=(0, 24))[0]

array([27, 10,  5, 11, 25, 37, 50, 65, 85, 80, 89, 55, 47, 41, 43, 47, 48,
       40, 35, 35, 38, 40, 29, 18])